[submodule "makestuff"]
	path = makestuff
	url = https://github.com/dushoff/makestuff.git
	branch = master
[submodule "material"]
	path = material
	url = https://github.com/Bio3SS/Evaluation_materials
	branch = master
